#root {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg);
  background-size: cover;
  height: inherit;
}

.form-header {
  display: flex;
  align-items: center;
}

.form-header > i {
  font-size: 1.4rem !important;
}

.post-form {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.post-form > div.segment {
  background-color: transparent;
}

.post-form > div.segment::after {
  border-top: 0px !important;
}

.field input[type='file' i]::-webkit-file-upload-button {
  padding: 6px;
  /* color: black; */
  background-color: lightgrey;
  border-radius: 10px;
}

.navbar-auth-head {
  float: right;
}
.navbar-auth-head > i {
  margin-right: 0px !important;
  margin-top: 10px !important;
  font-size: 32px !important;
}

.main-header > .sub > .smile {
  margin-right: 0px !important;
}

.login-logout-btn {
  cursor: pointer;
}

.go-to-home {
  margin-bottom: 10px !important;
}

/* .card > .image > img {
  max-height: 300px;
  object-fit: contain;
} */

.main-header {
  color: #00b5ad !important;
  background-color: #e9f7ff !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px !important;
}

.news-feed-header {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  padding: 10px !important;
}

.post-your-memory-btn {
  padding: 7px !important;
  background-color: aliceblue !important;
  box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px !important;
}

.edit-icon {
  color: #057e79;
}
.save-icon {
  color: darkgreen;
  font-size: 24px !important;
}

.div-editable {
  -webkit-user-modify: read-write;
  -moz-user-modify: read-write;
  user-modify: read-write;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.div-editable::after {
  content: '|';
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
.div-editable:focus {
  background-color: rgb(207 239 236);
}
.div-editable:focus::after {
  content: '';
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card-by-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  background: transparent !important;
}

.card-by-card > .image > img {
  height: 250px !important;
  object-fit: contain !important;
}

.card-desc {
  margin-bottom: 0px !important;
}

.tag-icon {
  margin-right: -1.5px !important;
}

.disabled-edit {
  pointer-events: none !important;
}

#file-select-message {
  color: red;
}

@media only screen and (max-width: 991px) {
  .divided > .six > .accordion > .aligned {
    height: auto !important;
  }
}

@media only screen and (max-width: 767px) {
  .card-grp-container {
    padding-top: 1rem !important;
  }
}
@media only screen and (max-width: 1920px) {
  #root {
    /* height: inherit; */
    height: unset;
  }
}
@media only screen and (max-width: 472px) {
  .main-header {
    text-align: left !important;
    padding-right: 8px !important;
  }
  .navbar-auth-head > i {
    margin-top: 5px !important;
    font-size: 28px !important;
  }
}
