#root {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg);
  background-size: cover;
  height: inherit;
}

.form-header {
  display: flex;
  align-items: center;
}

.form-header > i {
  font-size: 1.4rem !important;
}

.post-form {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.post-form > div.segment {
  background-color: transparent;
}

.post-form > div.segment::after {
  border-top: 0px !important;
}

.field input[type='file' i]::-webkit-file-upload-button {
  padding: 6px;
  /* color: black; */
  background-color: lightgrey;
  border-radius: 10px;
}

.card > .image > img {
  max-height: 300px;
  object-fit: contain;
}

.main-header {
  color: #00b5ad !important;
  background-color: #e9f7ff !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px !important;
}

.news-feed-header {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  padding: 10px !important;
}

.post-your-memory-btn {
  padding: 7px !important;
  background-color: aliceblue !important;
  box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px !important;
}

@media only screen and (max-width: 991px) {
  .divided > .six > .accordion > .aligned {
    height: auto !important;
  }
}

@media only screen and (max-width: 767px) {
  #root {
    height: unset;
  }
  .card-grp-container {
    padding-top: 1rem !important;
  }
}
